# SAP Datasphere credentials (OAuth client-credentials flow)
DSP_TOKEN_URL=https://<tenant>.authentication.<region>.hana.ondemand.com/oauth/token
DSP_CLIENT_ID=<your_client_id>
DSP_CLIENT_SECRET=<your_client_secret>
DSP_BASE_URL=https://<tenant>.<region>.hcs.cloud.sap
DSP_SPACE=<your_space_name>
